<nav class="navbar navbar-expand navbar-light bg-transparent">
    <ul class="nav navbar-nav">
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'home' %}" aria-current="page">Home <span
                    class="visually-hidden">(current)</span></a>
        </li>
    </ul>
    <ul class="nav navbar-nav ms-auto px-2">
        {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>
        {% endif %}
    </ul>
</nav>